.maininput {
    position: absolute;
    margin-left: 76.3vh;
    top: 140px;
    height: 400px;
    width: 350px;
    background-color: white;
    opacity: 0.9;
}

.upperportion {
    position: absolute;
    margin-left: 76.3vh;
    margin-top: 60px;
    height: 80px;
    width: 350px;
    opacity: 0.9;
}

#upperportionimage {
    height: 80px;
    width: 350px;
    object-fit: cover;
}

#userimage {
    position: absolute;
    margin-left: 95px;
    margin-top: -65px;
    height: 140px;
    width: 140px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-weight: bolder;
    font-family: 'bummer';
}

#name {
    position: absolute;
    margin-top: 90px;
    left: 54px;
    width: 220px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(221, 215, 215);
}

#email {
    position: absolute;
    margin-top: 150px;
    left: 54px;
    width: 220px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(221, 215, 215);
}

#password {
    position: absolute;
    margin-top:210px;
    left: 54px;
    width: 220px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(221, 215, 215);
}

#phone {
    position: absolute;
    margin-top: 270px;
    left: 54px;
    width: 220px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(221, 215, 215);
}

.maininput input[type=number]::-webkit-inner-spin-button,
.maininput input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    background-color: rgb(221, 215, 215);
}

button {
    height: 30px;
    width: 105px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-top: 55vh;
}

button:focus {
    outline: none;
}

.resetbutton {
    margin-left: 55px;
    background-color: green;
    color: white;
}

.resetbutton:hover {
    color: orange;
}

.confirmbutton {
    margin-left: 10px;
    background-color: purple;
    color: white;
}

.confirmbutton:hover {
    color: orange;
}